#mCnvs{
margin: 10px;
padding: 10px;
border-style: solid;
border-color: #ff0ff0;
}

.cell{
    margin: 8px;
    padding: 8px;
    height: 120px;
    width: 80px;
}

.winner{
    color: #F01B2D;
}

.staus {
    color: black;
}

.blink {
    color: #FFF !important;
    background: #ffff66;
    !important;
}

.back1{
    background: #70db70;
}

.back2{
    background: #ffe699;
}