#mCnvs{
margin: 10px;
padding: 10px;
border-style: solid;
border-color: #ff0ff0;
}

.cell{
    margin: 8px;
    padding: 4px;
    height: 104px;
    width: 72px;
}

.winner{
    color: #F01B2D;
}

.status {
    color: black;
}

.blink {
    color: #FFF !important;
    background: #ffff66;
    !important;
}

.back1{
    background: #ff8c66;
}

.back2{
    background: #8cff66;
}

.back3{
    background: #66d9ff;
}

.back4{
    background: #ffd966;
}

.back5{
    background: #b366ff;
}

.menu{
    style:position:relative;top:22px;
}
